body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Roboto Slab', serif;
  color: #555555;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.section {
  padding: 100px 0;
  background-color: #fff;
}

.header {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: url(../img/home-bg.jpg) center no-repeat;
  background-size: cover;
}

.nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 40px 0;
  z-index: 999;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}

.nav_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_navbar li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  margin-left: 30px;
}

.caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.caption_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #ffffff;
  text-transform: uppercase;
}

.caption_subtitle {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  letter-spacing: 0.7px;
}

.caption_btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 20px 35px;
  margin-top: 30px;
}

.block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 70px;
  text-align: center;
}

.block-title_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.block-title_line {
  width: 50px;
  height: 2px;
  background-color: #555555;
  margin: 30px 0;
}

.block-title_subtitle {
  font-size: 16px;
}

.block-title_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-title_filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-title_filter__list-item {
  margin: 0 13px;
  cursor: pointer;
}

.block-title_filter__list-item:hover {
  color: #c0301c;
}

.filter-item-active {
  color: #c0301c;
}

.services_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.services_items__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
  min-height: 280px;
  padding: 10px 0;
}

.services_items__item:hover {
  -webkit-box-shadow: 0 0 5px 1px #c0301c;
          box-shadow: 0 0 5px 1px #c0301c;
}

.services_items__item:hover .services_items__item-icon {
  background-color: #c0301c;
  color: #ffffff;
}

.services_items__item-icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 42px;
  color: #c0301c;
}

.services_items__item-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
}

.services_items__item-content {
  line-height: 24px;
  text-align: center;
  padding: 0 15px;
}

.about {
  background-color: #f8f8f8;
}

.about_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about_content__item {
  width: 48%;
  font-size: 14px;
  line-height: 24px;
}

.about_team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 60px;
  position: relative;
}

.about_team__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.about_team__person:hover .person-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_team__person-name {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 15px 0;
}

.about_team__person-info {
  font-size: 13px;
}

.about_team__person-hero {
  width: 265px;
  height: 252px;
  position: relative;
}

.about_team__person-hero img {
  width: 100%;
  position: absolute;
}

.about_team__person-hero .person-socials {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #55555550;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 40px;
}

.about_team__person-hero .person-socials_link {
  color: #ffffff;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_team__person-hero .person-socials_link:hover {
  background: #c0301c;
}

.about .arrows {
  position: absolute;
  z-index: 99;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #555555;
  cursor: pointer;
}

.about .arrows:hover {
  background-color: #c0301c;
}

.about .arrow-left {
  left: 0;
  top: 35%;
}

.about .arrow-right {
  right: 0;
  top: 35%;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works .work {
  width: 360px;
  height: 320px;
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.works .work img {
  width: 100%;
}

.works .work:hover .work_banner {
  opacity: 1;
}

.works .work_banner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(192, 48, 28, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.works .work_banner__title {
  margin: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.works .work_banner__subtitle {
  font-size: 12px;
  color: #ffffff;
  margin: 20px 0;
}

.works .work_banner__subtitle::first-letter {
  text-transform: uppercase;
}

.works .work_banner__link {
  padding: 12px 24px;
  background-color: #fff;
  color: #c0301c;
  text-transform: uppercase;
  font-size: 14px;
}

.action {
  width: 100%;
  height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(192, 48, 28, 0.6);
}

.action_parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/work-bg.jpg) center no-repeat;
  background-size: cover;
  z-index: -99;
}

.posts hr {
  width: 100%;
  height: 2px;
  background-color: #dddddd;
  border: none;
  margin: 40px 0;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
}

.post:hover .post_content__header-title h5,
.post:hover .post_content__header-title p span,
.post:hover .post_content__link {
  color: #c0301c;
}

.post_img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.post_img img {
  width: 100%;
}

.post_content {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: 30px;
}

.post_content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post_content__header-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80px;
  height: 80px;
  border: 2px solid #555555;
}

.post_content__header-date span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.post_content__header-date span:nth-child(1) {
  font-size: 24px;
}

.post_content__header-title {
  margin-left: 30px;
}

.post_content__header-title h5 {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.post_content__header-title p {
  font-size: 14px;
  font-style: italic;
}

.post_content__text {
  font-size: 14px;
  line-height: 26px;
  margin-top: 20px;
}

.post_content__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: #555555;
  margin-top: 20px;
  display: block;
}
/*# sourceMappingURL=style.css.map */